.box1 {
  width: 680px;
  height: 510px;
  position: relative;
  text-align: left;
  padding-top: 60px;
  padding-left: 250px;
}
a {
  text-decoration: none;
  padding-left: 2px;
}
.image {
  background-image: url("../image/Register.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right;
  height: auto;
  width: auto;
}
p {
  padding-left: 240px;
}
